/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "inter", sans-serif;
  }
}

body {
  scroll-behavior: smooth;
}

.primary__btn {
  font-size: 18px;
  max-width: fit-content;
  position: relative;
  padding: 3px 15px;
  color: #000000;
  background: #ffffff;
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 50px;
}

.primary__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right, #fdea40, #5ce1e6);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: -2px 0px 5px 0px #b7b7b7;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
  z-index: 999;
}

@keyframes sticky {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
